html {
  background-color: #131313;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table {
  border: 3px solid rgb(80, 119, 204);
}

.table-th {
  border: 1px solid rgb(80, 119, 204);
  color: rgb(216, 180, 20);
}

.table-td {
  background-color: #294774;
  border: 1px solid rgb(80, 119, 204);
  color: white;
  padding: 2px;
  text-align: center;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
